<core-header-panel mode="seamed" navigation flex>

  <core-toolbar class="tall">
    <div vertical layout center class="avatar">
      <%= image_tag "me.png" %>
      <h3>Developer</h3>
    </div>
  </core-toolbar>

  <core-menu>
    <core-item class="sidebar-item" icon="accessibility" label="ABOUT" default><a href="#About"></a></core-item>
    <core-item class="sidebar-item" icon="settings-ethernet" label="SKILLS"><a href="#Skills"></a></core-item>
    <core-item class="sidebar-item" icon="developer-mode-tv" label="PROJECTS"><a href="#Projects"></a></core-item>
    <core-item class="sidebar-item" icon="mail" label="CONTACT"><a href="#Contact"></a></core-item>
  </core-menu>

</core-header-panel>

  <span tool flex><h1>Jody Johnson</h1></span>
  <span tool end-justified><core-icon icon="social:post-github"></core-icon></span>

<section>
  <%= render 'houses/about'%>
  <%= render 'houses/skills'%>
  <%= render 'houses/projects'%>
  <%= render 'houses/contact'%>
</section>
