<!DOCTYPE html>
<html>
<head>
  <title>Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Rubik+Mono+One|Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body unresolved fullbleed vertical layout>

  <core-scaffold mode="waterfall-tall">
    <%= yield %>
  </core-scaffold>

</body>
</html>
